<h1>Photogur</h1>

<%= link_to "Log In", "#" %>  |  <%= link_to "Sign Up", new_users_path %>



<div class="new_picture">
  <%= link_to("New Picture", "/pictures/new") %>
  </div>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
<% end %>
